@media (min-width: 320px) {

    .LandingPage {
        display: flex;
        background: #212529;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
    }

    .informacoes {
        display: flex;
        align-items: center;
        justify-items: space-between;
        flex-direction: column;
        width: 320px;
        height: 390px;
        margin: 20px;
        position: absolute;
        opacity: 1;
        padding: 0;
    }

    .LandingPage-titulo {
        width: 290px;
        height: 224px;
        margin-top: 40px;

        /* Title1 */
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 38px;
        line-height: 48px;
        /* or 126% */

        color: #FFFFFF;
        opacity: 1;
    }

    .landing-imagem {
        opacity: 0.1;
        width: 100%;
        height: 80%;
    }

    .imagem{
        width: 100%;
        height: 100%;
    }

    .landing-legenda {
        color: #fff;
        align-items: center;
        justify-content: center;
    }

    .landing-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 13px 20px;

        width: 241px;
        height: 48px;

        /* color-primary */

        background: #FD377E;
        /* color-primary */

        border: 2px solid #FD377E;
        box-sizing: border-box;
        border-radius: 8px;
        opacity: 1;
    }
}

@media (min-width: 700px) {

    .LandingPage-titulo {
        width: 347px;
        height: 144px;
    }

    .informacoes {
        width: 347px;
        height: 374px;
    }
}

@media (min-width: 900px) {

    .LandingPage {
        justify-content: center;

    }

    .informacoes {

        width: 40%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin: 0;
    }

    .landing-imagem {
        opacity: 1;
        width: 50%;
        margin: 0;
    }

}

.informacoes {}

.LandingPage-titulo {}