@media (min-width: 320px) {

    .father-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-height: 900px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 363px;
        width: 300px;
        padding: 5%;
        margin: 10px;
        background: #FFFFFF;
        border-radius: 4px;
        border: solid 1px rgba(233, 236, 239, 1);
    }

    p {
        display: flex;
        align-items: center;
        height: 10vh;
        width: 100%;
    }

    .description-label {
        display: flex;
        flex-direction: column;
        height: 25%;
        width: 100%;
        justify-content: space-between;

    }

    .primeira-div {
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .info-description {

        font-size: 14px;
        width: 100%;
        color: rgba(91, 97, 102, 1);
        justify-content: space-around;
        margin-bottom: 10px;
    }

    .description {
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5%;
        width: 100%;
        background: #F8F9FA;
        font-size: 16px;
        box-sizing: border-box;
        border-radius: 8px;
    }

    .value {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 10%;
        justify-content: center;
    }

    .price {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 16px;
        height: 50px;
        width: 120px;
        font-size: 16px;
        background: #F8F9FA;
        border: 2px solid #F8F9FA;
        box-sizing: border-box;
        border-radius: 8px;
        margin: 5px;
    }

    select {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 16px;
        height: 50px;
        width: 150px;
        background: #F8F9FA;
        font-size: 16px;
        border: 2px solid #F8F9FA;
        box-sizing: border-box;
        border-radius: 8px;
        margin: 5px;
    }

    .submit {
        width: 100%;
    }

    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 13px 20px;
        height: 15%;
        color: white;
        font-size: 18px;
        background: #FD377E;
        border: 2px solid #FD377E;
        box-sizing: border-box;
        border-radius: 8px;
    }

    .totalPrice {

        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20vh;
        color: rgba(33, 37, 41, 1);
        flex-direction: column;
        padding: 6%;
        min-width: 200px;
        margin: 5% 0px;
        width: 95%;
        max-width: 406px;
        border: 1px solid #E9ECEF;
        box-sizing: border-box;
        border-radius: 4px;

    }

    .form-total-price {
        font-family: 'Nunito', 'sans';
        font-style: normal;
        font-weight: 700;
        font-size: 100%;
        line-height: 30px;
        margin: 10px;
        min-width: 260px;
        max-width: 323px;
        color: #FD377E;
    }

    .legend-form {
        font-size: 14px;
        width: 100%;
        color: rgba(91, 97, 102, 1);
        justify-content: space-around;
        margin: 10px;
    }

    label {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .info-label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        height: 300%;
        margin: 2%;
    }
}

@media (min-width: 435px) {

    .description {
        font-size: 17px;
    }

    .price {
        font-size: 17px;
    }

    select {
        font-size: 18px;
    }
}

@media (min-width: 800px) {

    .father-form {
        width: 30vw;
    }

    .totalPrice {
        width: 330px;
        padding: 5%;
        margin: 10px;
    }
}

@media (min-width: 980px) {

    .totalPrice {
        width: 350px;
    }


}