@media (min-width: 320px) {
    
    .sem-lancamentos {

        /* identical to box height, or 155% */
        margin: 5%;
        width: 80%;
        
        /* grey-3 */
        
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        color: #5B6166;
        line-height: 34px;
    }
    
    .card-vazio {
       width: 90%;
       margin: 2% 5%;
    }
    
    .cardList {
        display: flex;
        width: 100vw;
        min-height: 20%;
        margin: 0;
        justify-content: content;
        align-items: center;
        flex-direction: column;
    }

    .header-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;

    }

    h3 {
        display: none;
        margin: 10px;
        font-size: 20px;
    }

    button {
        margin: 5px;
        width: 25%;
    }

    .btn-gray {
        border: none;
        color: gray;
        background: #E9ECEF;
        width: 30%;
    }

    .space-cards {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }



}

@media (min-width: 400px) {
    .sem-lancamentos {
        margin: 5%;
    }

    .card-vazio1 {

        height: 10px;
        background: #E9ECEF;
        margin-left: 10%;
    }

    .card-vazio2 {

        height: 10px;
        margin-left: 10%;

    }
}


@media (min-width: 800px) {

    .cardList {
        width: 50vw;
    }

    .header-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    h3 {
        display: flex;
        flex-wrap: nowrap;
        width: 50%;
    }

    button {
        margin: 5px;
        width: 25%;
        height: 50px;
    }


}