@media (min-width: 320px) {

 
    .Despesa{
        border-left: #E34981 solid 5px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        width: 90%;
        height: 40px;
        color: rgba(33, 37, 41, 1);

        /* grey-1 */
        margin: 2% 0;
        background: #F8F9FA;
        border-radius: 10px;
        padding: 3.5%;
        
    }

    .Entrada{
        border-left: #03B898 solid 5px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        width: 90%;
        height: 40px;
        color: rgba(33, 37, 41, 1);

        /* grey-1 */
        margin: 2% 0;
        background: #F8F9FA;
        border-radius: 10px;
        padding: 3.5%;
    }

    .card-title {
        display: flex;
        width: 100%;
        height: 50%;
    }

    .card-description {
        display: flex;
        width: 60%;
        height: 40%;
        justify-content: flex-start;
        align-items: center;
        margin: 3%;

        /* Title3 */
        font-family: 'Nunito', 'sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 30px;
        box-sizing: border-box;

        /* grey-4 */
        color: #212529;
    }

    .card-value {

        display: flex;
        width: 30%;
        align-items: flex-start;
        margin-top: 2%;
   
        /* Body */
        font-family: 'Nunito', 'sans';
        font-style: normal;
        font-size: 14px;
    }

    .card-type {

        margin: 3%;
        height: 30%;
        margin-top: 6%;
        /* Body */
        font-family: 'Nunito', 'sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;

    }

    .excluir {
        background: #F8F9FA;
        border: none;
    }

    .trash{
        margin-left: auto;
        color: gray;
        padding: 3px;

    }

    .card-trash {
        margin: 2%;
    }
}

@media (min-width: 435px) {

    .Entrada {
        width: 100%
    }

    .Despesa {
        width: 100%
    }

    .cardList{
        justify-content: center;
        width: 100%;
    }

    .card-description {
        font-size: 18px;
    }

    .card-value {
        font-size: 18px;

    }

    .card-type {
        font-size: 16px;
    }

    .space-cards{
        width: 100%;
    }
    
    .card-value{
        width: 30%;
        flex-wrap: nowrap;
    }
}

@media (min-width: 800px) {

    .header-list{
        width: 90%;
    }

    .cardList{
        justify-content: center;
        width: 90%;
    }

    .Entrada {
        width: 90%
    }

    .Despesa {
        width: 90%
    }

    .space-cards{
        width: 80%;
    }
}

@media (min-width: 1020px) {

    .header-list{
        width: 70%;
    }

    .Entrada {
        width: 90%
    }

    .Despesa {
        width: 90%
    }
}