@media (min-width: 320px) {

  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .App-header {

    min-height: 14vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100vw;
    background: #F8F9FA;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 5vh;
  }

  .logo {
    margin-left: 13vw;
    min-width: 12%;

  }

  .inicio {
    margin-right: 13vw;
    color: gray;
    background: #E9ECEF;
    width: 100px;
    border: 1.4px solid #E9ECEF;
    box-sizing: border-box;
    border-radius: 8px;
  }

}

@media (min-width: 800px) {

  .App-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
  }

}

@media (min-width: 940px) {

  .App-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
  }

}